
<nav>

  <div class="container nav">

    <a href="#" class="brand">
      <img src="./assests/images/logo.svg" alt="logo">
    </a>
      
    <a href="#" class="hmenu">
      <span class="hmenu-icon"></span>
      <span class="hmenu-icon"></span>
      <span class="hmenu-icon"></span>
    </a>

    <ul class="list">
      <item class="list-item">
        <a href="#" class="list-link">ویدِئوها</a>
      </item>
      <item class="list-item">
        <a href="#" class="list-link">پشتیبانی</a>
      </item>
      <item class="list-item">
        <a href="#" class="list-link">امور سهام</a>
      </item>
      <item class="list-item">
        <a href="#" class="list-link">تپسی پک</a>
      </item>
      <item class="list-item">
        <a href="#" class="list-link">فرصت های شغلی </a>
      </item>
      <item class="list-item">
        <a href="#" class="list-link">وبلاگ </a>
      </item>
      <item class="list-item">
        <a href="#" class="list-link btn-warning btn">دانلود تپسی</a>
      </item>
    </ul>

  </div>

</nav>