  
  <section class="tapsi-services container">
    <h2 class="tapsi-services-title"> سرویس های تپسی </h2>
      <div class="tapsi-services-tabs">
        <a class="tapsi-services-tab">
          <img src="./assests//images/cc-classic.png" alt="سرویس تپسی ">
          <h4> تپسی کلاسیک </h4>
        </a>
        <a class="tapsi-services-tab">
          <img src="./assests//images/cc-tel.png" alt="سرویس تپسی ">
          <h4> تپسی تلفنی </h4>
        </a>
        <a class="tapsi-services-tab">
          <img src="./assests//images/cc-line.png" alt="سرویس تپسی ">
          <h4> تپسی لاین </h4>
        </a>
        <a class="tapsi-services-tab">
          <img src="./assests//images/cc-motopeyk.png" alt="سرویس تپسی ">
          <h4> موتوپیک </h4>
        </a>
        <a class="tapsi-services-tab">
          <img src="./assests//images/cc-autopeyk.png" alt="سرویس تپسی ">
          <h4> اتوپیک </h4>
        </a>
        <a class="tapsi-services-tab">
          <img src="./assests//images/cc-plus.png" alt="سرویس تپسی ">
          <h4> تپسی پلاس </h4>
        </a>
        <a class="tapsi-services-tab">
          <img src="./assests//images/cc-hamyar.png" alt="سرویس تپسی ">
          <h4> همیار </h4>
        </a>
      </div>
      <div class="tapsi-services-content">
        <div class="tapsi-services-detail w-100">
          <h2> تپسی کلاسیک </h2>
          <p>
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و همچنین توقف در مسیر را دارید.
          </p>
        </div>
        <div class="tapsi-services-img w-100">
          <img src="./assests/images/illus-classic.webp" alt="تپسی کلاسیک">
        </div>
      </div>
 </section> 